---
layout: default
title: ""
---

<ul class="post-list">
  {% for post in site.posts %}
  <li class="post-item">
    <a href="{{ post.url | relative_url }}">
      <div class="post-meta">
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>
        {% if post.category %}
        <span class="category-badge {{ post.category }}">{{ post.category-label | default: post.category }}</span>
        {% endif %}
      </div>
      <h2 class="post-item-title">{{ post.title }}</h2>
      <p class="post-item-excerpt">{{ post.excerpt | strip_html | truncatewords: 40 }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
